---
title: contact
date: 08-01-2018
author: Alexis Wellwood
pageable: false
---

<div class="panel panel-default">
  <!-- default panel contents -->
  <div class="panel-heading lowercase"><h3 class="pageheader">office contacts</h3></div>
  <div class="panel-body">
    <p>If you want to contact Alexis for official  business, including research, teaching, service, and outreach.</p>
  </div>

  <!-- table -->
  <table class="table">
  	<tr>
  	  <td><b>email</b></td>
  	  <td>wellwood@usc.edu</b></td>
  	</tr>
    <!-- <tr>
      <td><b>phone</b></td>
      <td>[temporarily N/A]</td>
    </tr> -->
    <!-- <tr>
      <td><b>Office fax</b></td>
      <td>847-491-3770</td>
    </tr> -->
    <tr>
      <td><b>mail</b></td>
      <td>School of Philosophy<br>
        Mudd Hall of Philosophy, MHP 113<br >
      	3709 Trousdale Parkway <br>
      	Los Angeles CA 90089<br>
      	USA
      </td>
    </tr>
   <tr>
      <td><b>office hours</b></td>
      <td>
        Mudd Hall, MHP 105g<br>
      	Mondays, 3:30-5:30
      </td>
    </tr> 
  </table>
</div>

<div class="panel panel-default">
  <!-- default panel contents -->
  <div class="panel-heading lowercase"><h3 class="pageheader">other contacts</h3></div>
  <div class="panel-body">
    <p>If you want to contact Alexis for any other reason, use the "outside" links in the menubar.</p>
  </div>
</div>