---
title: contact
date: 08-01-2015
author: Alexis Wellwood
pageable: false
---

<div class="panel panel-default">
  <!-- default panel contents -->
  <div class="panel-heading lowercase"><h3 class="pageheader">Office contacts</h3></div>
  <div class="panel-body">
    <p>If you want to contact Alexis for official  business, including research, teaching, service, and outreach.</p>
  </div>

  <!-- table -->
  <table class="table">
  	<tr>
  	  <td><b>Office email</b></td>
  	  <td>wellwood@northwestern.edu</b></td>
  	</tr>
    <tr>
      <td><b>Office phone</b></td>
      <td>847-491-5779</td>
    </tr>
    <tr>
      <td><b>Office fax</b></td>
      <td>847-491-3770</td>
    </tr>
    <tr>
      <td><b>Office mail</b></td>
      <td>Department of Linguistics<br>
      	2016 Sheridan Road<br>
      	Evanston IL 60201<br>
      	USA
      </td>
    </tr>
 <!--   <tr>
      <td><b>Office hours</b></td>
      <td>2016 Sheridan Road, #303<br>
      	Wednesdays, 10:00-12:00
      </td>
    </tr> -->
  </table>
</div>

<div class="panel panel-default">
  <!-- default panel contents -->
  <div class="panel-heading lowercase"><h3 class="pageheader">Other contacts</h3></div>
  <div class="panel-body">
    <p>If you want to contact Alexis for any other reason, use the "outside" links in the menubar.</p>
  </div>
</div>