---
title: gesm160g-fall2018
date: 2018-08-19
author: Alexis Wellwood
layout: layout
---

<h1 class="lowercase pageheader">gesm160g: the logic of events (fall 2018)</h1>

This schedule may change, but not without notice. Any changes will be announced in class and by email, and this schedule will be updated. 

<p><b>Note</b>: If numbers follow an assigned reading in parentheses, this is my suggestion for the pages you might want to focus on in that reading.</p>

<!-- <p><b>Using the slides</b>: Topics marked '[slides]' will open a new browser window with the slides. To view the presenter notes (sometimes there is additional context there that you might find useful), press 'p' on your keyboard. To return to the full view, press 'p' again. </p> -->

<!-- <p>Note: Days shaded in <span style="background:#99ff99;">green</span> indicate days on which there are events outside of class that you might be interested in.</p> -->

<!-- <p>You should use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your work. It has some up front cost but it pays off long term. I created these <a href="https://www-bcf.usc.edu/~wellwood/downloadables/texsample/" target="_blank">sample document and bibliography files</a> that can help you get started making your own; you can also consult <a href="https://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide</a>. -->


  <!-- table -->
  <table class="table">

  	<tr class="success">
      <!-- <td><b>week</b></td> -->
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>the rest</b></td>
  	</tr>

  	<tr>
  	  <!-- <td>1.1</td> -->
  	  <td><b>Aug</b> 20</td>
  	  <td>
          Introductions &amp; overview
      </td>
  	  <td> 
        &nbsp; 
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        <b>reference</b>: <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-syllabus-fa2018.pdf" target="_blank">course syllabus</a>
      </td>
  	</tr>

    <tr>
      <!-- <td>1.2</td> -->
      <td>22</td>
      <td>
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H01-experience&frames.pdf" target="_blank">
          ``Experience'', framed I
        </a>
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/kahneman&tversky1981.pdf" target="_blank"> 
          Kahneman, Tversky 1981
          </a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>

    <tr>
      <!-- <td>2</td> -->
      <td>27</td>
      <td>
          ``Experience'', framed II
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/partee1995.pdf" target="_blank"> 
          Partee 1995 
          </a>(311-315)<br />     
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <b>video</b>: <a href="https://www.ted.com/talks/donald_hoffman_do_we_see_reality_as_it_is" target="_blank">the construction of experience</a>
      </td>
    </tr>


    <tr>
      <!-- <td>3.1</td> -->
      <td>29</td>
      <td>
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H02-language&logic.pdf" target="_blank">
          Language &amp; logic I
        </a>
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/coppock&champollion2017.pdf" target="_blank"> 
          Coppock, Champollion 2017 
          </a><br /> (7-16, 58-65) 
          <!-- <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/coppock&champollion2017.pdf" target="_blank"> 
          Coppock, Champollion 2017
          </a><br />(58-65) -->
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <b>reference</b>: <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-A1.pdf" target="_blank">assignment 1</a>
      </td>
    </tr>


    <tr class="danger">
      <td> <b>Sep</b> 3 </td>
      <td colspan="5">
        <b>Labor Day (no class)</b>
      </td>
    </tr>
 

    <tr>
      <!-- <td>4.1</td> -->
      <td>5</td>
      <td>
          Language &amp; logic II
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/coppock&champollion2017.pdf" target="_blank"> 
          Coppock, Champollion 2017
          </a><br />(21-38, 47-56)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr class="warning">
      <!-- <td>4.2</td> -->
      <td>10</td>
      <td>
          Language &amp; logic III 
      </td>
      <td> 
          <!-- <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/bennett1965.pdf" target="_blank"> 
          Bennett 1965
          </a> -->
      </td>
      <td> 
        A1
      </td>
      <td> 
        &nbsp;  
      </td>
    </tr>


    <tr>
      <!-- <td>5.1</td> -->
      <td>12</td>
      <td>
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H03-talking-events.pdf" target="_blank">
          Talking about events I
        </a>
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/davidson1967.pdf" target="_blank"> 
          Davidson 1967
        </a> (105-122)
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>



    <tr>
      <!-- <td>5.2</td> -->
      <td>17</td>
      <td>
          Talking about events II
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/thomson1971.pdf" target="_blank"> 
          Thomson 1971
        </a>
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        <b>reference</b>: <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-A2.pdf" target="_blank">assignment 2</a>
      </td>
    </tr>


    <tr>
      <!-- <td>6.1</td> -->
      <td>19</td>
      <td>
          Talking about events III
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/thomson1971.pdf" target="_blank"> 
          Thomson 1971
        </a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>



    <tr class="warning">
      <!-- <td>6.2</td> -->
      <td>24</td>
      <td>
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H04-verb-phrases.pdf" target="_blank">
          Verb phrases I
        </a>
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/vendler1957.pdf" target="_blank">
            Vendler 1957
          </a>
      </td>
      <td> 
        A2
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <!-- <td>7</td> -->
      <td>26</td>
      <td>
          Verb phrases II
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/rosen1999.pdf" target="_blank">
            Rosen 1999
          </a> (1-10)
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <!-- <td>8.1</td> -->
      <td><b>Oct</b> 1</td>
      <td>
          A2 review
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        <b>reference</b>: <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-A3.pdf" target="_blank">assignment 3</a>
      </td>
    </tr>


    <tr>
      <!-- <td>8.2</td> -->
      <td>3</td>
      <td>
         Verb phrases III
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/fillmore1970.pdf" target="_blank">
          Fillmore 1970
        </a>
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        <b>reference</b>:   <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H04-2-VPsemantics.pdf" target="_blank">abridged version of handout 4</a>
      </td>
    </tr>


    <tr class="warning">
      <!-- <td>9.1</td> -->
      <td>8</td>
      <td>
          <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/GESM-H05-action.pdf" target="_blank">
            Actions I 
          </a>
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/pietroski1998.pdf" target="_blank">
          Pietroski 1998
        </a> (73-87)
      </td>
      <td> 
        A3
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <!-- <td>9.2</td> -->
      <td>10</td>
      <td>
        Actions II 
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <!-- <td>10.1</td> -->
      <td>15</td>
      <td>
          Objects &amp; events I
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/wellwoodEtAl2018.pdf" target="_blank">
          Wellwood et al 2018
        </a><br />(183-193) 
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        <b>reference</b>: TBA 
      </td>
    </tr>


    <tr>
      <!-- <td>10.2</td> -->
      <td>17</td>
      <td>
          Objects &amp; events II
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/bach1986.pdf" target="_blank">
          Bach 1986
        </a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <b>reference</b>: TBA
      </td>
    </tr>


    <tr class="warning">
      <!-- <td>11.1</td> -->
      <td>22</td>
      <td>
          Cognizing the difference I          
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/ripsHespos2015.pdf" target="_blank">
          Rips, Hespos 2015
        </a> (1-15)        
      </td>
      <td> 
        A4 
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


    <tr>
      <!-- <td>11.2</td> -->
      <td>24</td>
      <td>
          Cognizing the difference II
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/wellwoodEtAl2018.pdf" target="_blank">
          Wellwood et al 2018
        </a><br />(194-209)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


    <tr>
      <!-- <td>12.1</td> -->
      <td>29</td>
      <td>
        What children know I
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/spelke2003.pdf" target="_blank">
            Spelke 2003
          </a> (277-289)
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr class="warning">
      <!-- <td>12.2</td> -->
      <td>31</td>
      <td>
        What children know II
      </td>
      <td> 
          <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/spelke2003.pdf" target="_blank">
            Spelke 2003
          </a> (290-308)
      </td>
      <td> 
        G1 papers
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr class="warning">
      <!-- <td>13.1</td> -->
      <td><b>Nov</b> 5</td>
      <td>
        What children know III
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/gordon2003.pdf" target="_blank">
          Gordon 2003
        </a><br />
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/wellwoodEtAl2015.pdf" target="_blank">
          Wellwood et al 2015
        </a>
      </td>
      <td> 
        G2 papers
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <!-- <td>13.2</td> -->
      <td>7</td>
      <td>
        What we see I
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/hafriEtAl2016.pdf" target="_blank">
          Hafri et al 2016
        </a>
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <!-- <td>14.1</td> -->
      <td>12</td>
      <td>
        What we see II
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/vanBurenEtAl2017.pdf" target="_blank">
          van Buren et al 2017
        </a>
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>

    <tr class="warning">
      <!-- <td>14.2</td> -->
      <td>14</td>
      <td>
        Class debate
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        G1 presents
      </td>
      <td> 
        <b>topic</b>: TBA 
      </td>
    </tr>


    <tr class="warning">
      <!-- <td>15.1</td> -->
      <td>19</td>
      <td>
          Class debate
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        G2 presents
      </td>
      <td> 
        <b>topic</b>: TBA
      </td>
    </tr>

    <tr class="danger">
      <td> 21 </td>
      <td colspan="5">
        <b>Thanksgiving (no class)</b>
      </td>
    </tr>

    <tr>
      <!-- <td>15.2</td> -->
      <td>26</td>
      <td>
          Learning a language I
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/jackendoff1995.pdf" target="_blank">
          Jackendoff 1995
        </a> (53-67)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <!-- <td>15.2</td> -->
      <td>28</td>
      <td>
          Learning a language II
      </td>
      <td> 
        <a href="https://www-bcf.usc.edu/~wellwood/downloadables/readings/gesm160g/gleitman1990.pdf" target="_blank">
          Gleitman 1990
        </a><br />(3-10, 23-33)
      </td> 
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>



  	<tr class="warning">
  	  <td><b>TBA</b></td>
  	  <td colspan="2">
  	  	position reports emailed to Alexis before midnight (final exam date)
  	  </td>
      <td>
        reports
      </td>
      <td>
        &nbsp; 
      </td>
  	</tr> 

  </table>



