---
title: ling370-fall2016
date: 2016-09-18
author: Alexis Wellwood
layout: layout
---

<h1 class="lowercase pageheader">ling370: fundamentals of meaning - fall 2016 schedule </h1>

<p>Note: Days shaded in <span style="background:#99ff99;">green</span> indicate days on which there are extra events; <span style="background:pink;">red</span> shading indicates a day you <b>don't</b> want to miss!</p>

<p>Feeling adventurous? Use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your work. I created these <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document and bibliography files</a> that can help you get started making your own; you can also consult <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide for linguists</a>. (Collaborating on a TeX document? Try <a href="https://www.overleaf.com/" target="_blank">Overleaf</a>.)


  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1</td>
  	  <td>Sept 21</td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling370/handouts/1_intro.pdf" target="_blank">
          Semantics &amp; truth
        </a>
      </td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>

  	<tr>
  	  <td>2.1</td>
  	  <td>Sept 26</td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling370/handouts/2.1_gillon.pdf" target="_blank">
          Types of indeterminacy
        </a>
      </td>
  	  <td><a href="http://alexiswellwood.org/readings/ling370/gillon-2004.pdf" target="_blank">Gillon 2004</a></td>
  	  <td> &nbsp; </td>
  	  <td> 
         <a href="http://alexiswellwood.org/readings/ling370/handouts/hw1.pdf" target="_blank"> 
          Homework 1
        </a> 
        assigned 
      </td>
  	</tr>

  	<tr>
  	  <td>2.2</td>
  	  <td>Sept 28</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-2-1-entailments.pdf" target="_blank"> -->
          Entailment &amp; presupposition
<!--         </a> -->
      </td>
  	  <td><a href="http://alexiswellwood.org/readings/ling370/grice-1975.pdf" target="_blank">Grice 1975</a></td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Sept 30 </td>
      <td colspan="4">
        <b>Linguistics 50th anniversary event</b>. <a href="http://www.bcs.rochester.edu/people../mtan/mtan.html">Mike Tanenhaus</a> from BCS Rochester, "The future of language science". <b>2:30-6pm in the Louis Room, 
        <a href="https://maps.northwestern.edu/facility/110">
          Norris University Center</a>.
        </b>
      </td>
    </tr>

  	<tr>
  	  <td>3.1</td>
  	  <td>Oct 3</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-2-2-implicature.pdf" target="_blank"> -->
          Implicature
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Homework 1
  	  </td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw2.pdf" target="_blank"> -->
          Homework 2
<!--         </a>  -->
        assigned 
      </td>
  	</tr>

   	<tr>
  	  <td>3.2</td>
  	  <td>Oct 5</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-3-1-set-theory.pdf" target="_blank"> -->
          Set theory
<!--         </a> -->
      </td>
  	  <td>Heim & Kratzer 1998 &sect;1</td>
  	  <td> &nbsp;</td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>

  	<tr>
  	  <td>4.1</td>
  	  <td>Oct 10</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-3-2-basic-logic.pdf" target="_blank"> -->
          Basic logic
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Homework 2
  	  </td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw3.pdf" target="_blank"> -->
          Homework 3
<!--         </a>  -->
        assigned
<!--         <br /> -->
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw1-commentary.pdf" target="_blank">Homework 1</a> commentary -->
       </td>
  	</tr> 	

    <tr>
  	  <td>4.2</td>
  	  <td>Oct 12</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-4-1-set-derivations.pdf" target="_blank"> -->
          Derivations with sets
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp;</td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw2-commentary.pdf" target="_blank">Homework 2</a> commentary-->
      </td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 14 </td>
      <td colspan="4">
        <b>PhLing</b> with <a href="https://liberalarts.utexas.edu/linguistics/faculty/dib97">David Beaver</a>, from UT-Austin. <b>1:30-3:30pm, in
        <a href="https://maps.northwestern.edu/facility/116" target="_blank">
          Kresge 3-348</a>.
        </b>
      </td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 14 </td>
      <td colspan="4">
        <b>Linguistics mixer</b>, all welcome. <b>4-6pm,
        <a href="https://maps.northwestern.edu/facility/277" target="_blank">The Great Room, 600 Haven St</a>.
        </b>
      </td>
    </tr>

  	<tr>
  	  <td>5.1</td>
  	  <td>Oct 17</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-4-2-types-lambdas.pdf" target="_blank"> -->
          Characteristic functions &amp; lambdas
<!--         </a> -->
      </td>
  	  <td> Heim &amp; Kratzer 1998 &sect;2 </td>
  	  <td>
  	  	Homework 3
  	  </td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw4.pdf" target="_blank"> -->
          Homework 4
<!--         </a>  -->
<!--         assigned  -->
      </td>
  	</tr> 	

  	<tr>
  	  <td>5.2</td>
  	  <td>Oct 19</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-5-1-type-theory.pdf" target="_blank"> -->
          Type theory
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp;</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw3-commentary.pdf" target="_blank">
          Homework 3
        </a> 
        commentary -->
      </td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 22 </td>
      <td colspan="4">
        <b>Semantics and Syntax Workshop of the American Midwest and Prairies (SSWAMP)</b>. See the <a href="http://sites.northwestern.edu/sswamp2016/">conference website</a>. <b>All day, 
        <a href="https://maps.northwestern.edu/facility/182" target="_blank">Parkes Hall, 122</a>.
        </b>
      </td>
    </tr>

  	<tr>
  	  <td>6.1</td>
  	  <td>Oct 24</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-5-2-application-modification.pdf" target="_blank"> -->
          Application &amp; modification
<!--         </a> -->
      </td>
  	  <td> Heim &amp; Kratzer 1998 &sect;3-4 </td>
  	  <td>
  	  	Homework 4
  	  </td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/homeworks/370-hw5.pdf" target="_blank"> -->
          Homework 5
<!--         </a>  -->
        assigned
      </td>
  	</tr> 	

  	<tr>
  	  <td>6.2</td>
  	  <td>Oct 26</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-6-1-abstraction.pdf" target="_blank"> -->
          Abstraction
<!--         </a> -->
      </td>
  	  <td>Heim &amp; Kratzer 1998 &sect;5</td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td>7.1</td>
  	  <td>Oct 31</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-6-2-in-class-exercise.pdf" target="_blank"> -->
          In class exercises
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Homework 5
  	  </td>
  	  <td> 
        Homework 6 assigned 
      </td>
  	</tr> 

  	<tr>
  	  <td>7.2</td>
  	  <td>Nov 2</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-7-1-binding.pdf" target="_blank"> -->
          Binding
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td>8.1</td>
  	  <td>Nov 7</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-7-2-GQT.pdf" target="_blank"> -->
          Generalized quantifier theory
<!--         </a> -->
      </td>
  	  <td>Heim &amp; Kratzer 1998 &sect;6 </td>
  	  <td>
  	  	Homework 6
  	  </td>
  	  <td> 
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-rules-cheat-Nov5.pdf" target="_blank">Cheat sheat (Nov 5)</a> -->
      </td>
  	</tr> 

   	<tr>
  	  <td>8.2</td>
  	  <td>Nov 9</td>
  	  <td>
        Determiner universals
      </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td>9.1</td>
  	  <td>Nov 14</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-8-2-determiner-universals.pdf" target="_blank"> -->
          Monotonicity
<!--         </a> -->
      </td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	&nbsp; 
  	  </td>
  	  <td> &nbsp; </td>
  	</tr> 

   	<tr>
  	  <td>9.2</td>
  	  <td>Nov 17</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-9-1-monotonicity.pdf" target="_blank"> -->
          Scope
<!--         </a> -->
      </td>
  	  <td> Heim &amp; Kratzer 1998 &sect;7 </td>
  	  <td> &nbsp;</td>
  	  <td> 
        Take-home exam assigned
<!--         <b>CogSci talk</b>: <a href="http://www.cogsci.northwestern.edu/speakers/2015-2016/gibson.php" target="_blank">Ted Gibson</a> -->
      </td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Nov 18 </td>
      <td colspan="4">
        <b>PhLing</b> with Alexis Wellwood. <b>2-4pm,
        <a href="http://maps.northwestern.edu/facility/116" target="_blank">
          Kresge 3-348</a>.
        </b>
      </td>
    </tr>
    
  	<tr>
  	  <td>10</td>
  	  <td>Nov 21</td>
  	  <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-9-2-scope.pdf" target="_blank"> -->
          Beyond truth conditions
<!--         </a> -->
      </td>
  	  <td>&nbsp;</td>
  	  <td>
  	  	&nbsp; 
  	  </td>
  	  <td> &nbsp; </td>
  	</tr> 

<!--   	<tr>
  	  <td>10</td>
  	  <td>Nov 24</td>
  	  <td><a href="http://alexiswellwood.org/readings/handouts/370-10-1-beyond-TCs.pdf" target="_blank">Beyond truth conditions</a></td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	&nbsp; 
  	  </td>
  	  <td> &nbsp; </td>
  	</tr>  -->

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 24
  	  </td>
      <td colspan="4">
      	<b>Thanksgiving break [no class]</b>
      </td>
  	</tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 28-<br />
        Dec 2
  	  </td>
      <td colspan="4">
      	<b>Reading week [no class]</b>
      </td>
  	</tr>

  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>Dec 5</td>
  	  <td colspan="4">
  	  	<b>Take home exam</b> due by 5pm in the Linguistics Department
  	  </td>
  	</tr> 

  </table>



