---
title: ling311-fall2015
date: 2015-09-17
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">ling311: child language - fall 2015 schedule </h1>

<p>Note: Days shaded in <span style="background:lightgrey;"> grey</span> indicate that discussion is student-lead, days highlighted in <span style="background:#99ff99;">green</span> indicate that there are extra events on that day. <span style="background:pink;">Red</span> indicates a day you <b>don't</b> want to miss!</p>

<p>To view a given day's slideshow, click on the topic for that day. To see the notes in the slideshow, just press "P".</p>

<p>Download the <a href="http://alexiswellwood.org/readings/2015-311-syllabus.pdf" target="_blank">syllabus</a>.</p>

  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1.1</td>
  	  <td>Sept 22</td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/slides/1-1-introduction.html" target="_blank">Introduction
        </a>
      </td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>
  	<tr>
  	  <td>1.2</td>
  	  <td>Sept 24</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/1-2-naturenurture.html" target="_blank">Nature & nurture</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/gleitman-newport-1995.pdf" target="_blank">Gleitman & Newport 1995</a></td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td>2.1</td>
  	  <td>Sept 29</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/2-1-input-acquisition.html" target="_blank">Input & acquisition</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/gathercole-hoff-2007.pdf" target="_blank">Gathercole & Hoff 2007</a></td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>
  	<tr class="active">
  	  <td>2.2</td>
  	  <td>Oct 1</td>
  	  <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/2-2-fast-mapping.html" target="_blank">Fast mapping</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/medina-et-al-2011.pdf"  target="_blank">Medina et al 2011</a></td>
  	  <td>
  	  	<b>Group 1</b>: Long analyses<br>
  	  	<b>Groups 2,3</b>: Short analyses
  	  </td>
  	  <td><b>Group 1</b> leads discussion</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 2 </td>
      <td colspan="4">
        <b>Cognitive brown bag</b> with Christian Hoyos (working with <a href="http://groups.psych.northwestern.edu/gentner/" target="_blank">Dedre Gentner</a>), on theory of mind. <b>12:00pm in <a href="http://maps.northwestern.edu/facility/129" target="_blank">Swift 210, 2029 Sheridan Rd.</a></b>
      </td>
    </tr>

  	<tr class="success">
  	  <td> &nbsp; </td>
  	  <td> Oct 2 </td>
      <td colspan="4">
      	<b> Linguistics colloquium</b> with <a href="http://planitpurple.northwestern.edu/event/482423">Ann Bunger</a>, on events in acquisition. <b>3:30pm in <a href="http://maps.northwestern.edu/facility/65" target="_blank">Chambers Hall, 600 Foster St.</a></b>
      </td>
  	</tr>

   	<tr class="success">
  	  <td>3.1</td>
  	  <td>Oct 6</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/3-1-hard-words.html" target="_blank">'Hard' words</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/gleitman-et-al-2005.pdf" target="_blank">Gleitman et al 2005</a></td>
  	  <td> &nbsp;</td>
  	  <td> <b>CogSci talk</b>: <a href="http://www.cogsci.northwestern.edu/speakers/2015-2016/papafragou.php" target="_blank">Anna Papafragou</a></td>
  	</tr>
  	<tr class="active">
  	  <td>3.2</td>
  	  <td>Oct 8</td>
  	  <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/3-2-attitude-verbs.html" target="_blank">Attitude verbs</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/papafragou-et-al-2007.pdf"  target="_blank">Papafragou et al 2007</a></td>
  	  <td>
  	  	<b>Group 2</b>: Long analyses<br>
  	  	<b>Groups 1,3</b>: Short analyses
  	  </td>
  	  <td><b>Group 2</b> leads discussion</td>
  	</tr> 	

    <tr class="success">
  	  <td>4.1</td>
  	  <td>Oct 13</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/4-1-core-cognition.html" target="_blank">Language &amp; cognition</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/spelke-2003.pdf" target="_blank">Spelke 2003</a></td>
  	  <td> &nbsp;</td>
  	  <td> <b>CogSci talk</b>: <a href="http://www.cogsci.northwestern.edu/speakers/2015-2016/odic.php" target="_blank">Darko Odic</a></td>
  	</tr>
  	<tr class="active">
  	  <td>4.2</td>
  	  <td>Oct 15</td>
  	  <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/4-2-comparatives.html" target="_blank">Comparatives</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/odic-et-al-2013.pdf"  target="_blank">Odic et al 2013</a></td>
  	  <td>
  	  	<b>Group 3</b>: Long analyses<br>
  	  	<b>Groups 1,2</b>: Short analyses
  	  </td>
  	  <td><b>Group 3</b> leads discussion</td>
  	</tr> 	

  	<tr>
  	  <td>5.1</td>
  	  <td>Oct 20</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/5-1-categorization-words.html" target="_blank">Categorization &amp; words</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/waxman-lidz-2006.pdf" target="_blank">Waxman &amp; Lidz 2006</a></td>
  	  <td> &nbsp;</td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/311-target-articles.pdf" target="_blank">Target article list</a> 
      </td>
  	</tr>
  	<tr class="active">
  	  <td>5.2</td>
  	  <td>Oct 22</td>
  	  <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/5-2-nouns-adjectives.html" target="_blank">Nouns &amp; adjectives</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/booth-waxman-2009.pdf"  target="_blank">Booth &amp; Waxman 2009</a></td>
  	  <td>
  	  	<b>Group 1</b>: Long analyses<br>
  	  	<b>Groups 2,3</b>: Short analyses
  	  </td>
  	  <td><b>Group 1</b> leads discussion</td>
  	</tr> 	

  	<tr>
  	  <td>6.1</td>
  	  <td>Oct 27</td>
      <td><a href="http://alexiswellwood.org/readings/slides/6-1-quantification.html" target="_blank">Quantification</a></td>
      <td><a href="http://alexiswellwood.org/readings/lidz-2014.pdf" target="_blank">Lidz 2014</a></td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp; </td>
  	</tr>
  	<tr class="active">
  	  <td>6.2</td>
  	  <td>Oct 29</td>
      <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/6-2-conservativity.html" target="_blank">Conservativity</a></td>
      <td><a href="http://alexiswellwood.org/readings/hunter-lidz-2012.pdf"  target="_blank">Hunter &amp; Lidz 2012</a></td>
  	  <td>
  	  	<b>Group 2</b>: Long analyses<br>
  	  	<b>Groups 1,3</b>: Short analyses
  	  </td>
  	  <td><b>Group 2</b> leads discussion</td>
  	</tr> 

  	<tr>
  	  <td>7.1</td>
  	  <td>Nov 3</td>
      <td><a href="http://alexiswellwood.org/readings/slides/7-1-syntax-acquisition.html" target="_blank">Syntax &amp; semantics</a></td>
      <td><a href="http://alexiswellwood.org/readings/crain-thornton-2012.pdf" target="_blank">Crain &amp; Thornton 2012</a></td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp; </td>
  	</tr>
  	<tr class="active">
  	  <td>7.2</td>
  	  <td>Nov 5</td>
      <td><b>Case</b>: <a href="http://alexiswellwood.org/readings/slides/7-2-scope.html" target="_blank">Scope</a></td>
      <td><a href="http://alexiswellwood.org/readings/goro-2007-(ch2).pdf"  target="_blank">Goro 2007 &sect;2</a></td>
  	  <td>
  	  	<b>Group 3</b>: Long analyses<br>
  	  	<b>Groups 1,2</b>: Short analyses
  	  </td>
  	  <td><b>Group 3</b> leads discussion</td>
  	</tr> 

   	<tr class="danger">
  	  <td>8.1</td>
  	  <td>Nov 10</td>
  	  <td><b>In-class exam</b></td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>
  	<tr>
  	  <td>8.2</td>
  	  <td>Nov 12</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/8-2-being-logical.html" target="_blank">Being logical</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/noveck-2001.pdf"  target="_blank">Noveck 2001</a></td>
  	  <td>
  	  	<b>Final paper</b>: target article selection
  	  </td>
  	  <td> &nbsp; </td>
  	</tr> 

   	<tr class="success">
  	  <td>9.1</td>
  	  <td>Nov 17</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/9-1-being-pragmatic.html" target="_blank">Being pragmatic</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/musolino-lidz-2006.pdf"  target="_blank">Musolino & Lidz 2006</a></td>
  	  <td> &nbsp; </td>
  	  <td> <b>CogSci talk</b>: <a href="http://www.cogsci.northwestern.edu/speakers/2015-2016/gibson.php" target="_blank">Ted Gibson</a></td>
  	</tr>
  	<tr>
  	  <td>9.2</td>
  	  <td>Nov 19</td>
  	  <td>Case: <a href="http://alexiswellwood.org/readings/slides/9-2-implicature.html" target="_blank">Implicature</a></td>
  	  <td><a href="http://alexiswellwood.org/readings/gualmini-et-al-2001.pdf"  target="_blank">Gualmini et al 2001</a></td>
  	  <td>
  	  	<b>Final paper</b>: short analysis
  	  </td>
  	  <td> &nbsp; </td>
  	</tr> 
  	<tr>
  	  <td>10</td>
  	  <td>Nov 24</td>
  	  <td><a href="http://alexiswellwood.org/readings/slides/10-1-outroduction.html" target="_blank">Outroduction</a></td>
  	  <td> &nbsp; </td>
  	  <td>
  	  	&nbsp; 
  	  </td>
  	  <td> &nbsp; </td>
  	</tr> 

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 26 
  	  </td>
      <td colspan="4">
      	<b>Thanksgiving break</b>
      </td>
  	</tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 30-<br />
        Dec 4
  	  </td>
      <td colspan="4">
      	<b>Reading week</b>
      </td>
  	</tr>

  	<tr>
  	  <td><b>end</b></td>
  	  <td>Dec 9</td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp;</td>
  	  <td colspan="2">
  	  	<b>Final paper</b>: due by midnight, email PDF to Alexis
  	  </td>
  	</tr> 

  </table>



