---
title: ling470-spring2017
date: 2017-03-25
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">ling470: semantic analysis - spring 2017 schedule</h1>

<p>Note: Days shaded in <span style="background:#99ff99;">green</span> indicate days on which there are events outside of class that you might be interested in.</p>

<p>You should use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your work. It has some up front cost but it pays off long term. I created these <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document and bibliography files</a> that can help you get started making your own; you can also consult <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide for linguists</a>. 


  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1.1</td>
  	  <td>Mar 27</td>
  	  <td>
          Reprise
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/dowtyEtAl1981.pdf" target="_blank"> 
          Dowty, Wall, &amp; Peters &sect;1-2
        </a> 
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>

  	<tr>
  	  <td>1.2</td>
  	  <td>Mar 29</td>
  	  <td>
          Worlds &amp; attitudes
      </td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling470/fintel-heim2011.pdf#page=7" target="_blank">
          von Fintel &amp; Heim 2011 &sect;1-2
        </a>
      </td>
  	  <td> 
        top 3 topics from 5.1-8.2
      </td>
  	  <td> 
       &nbsp;
      </td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Mar 31 </td>
      <td colspan="4">
        <b>Linguistics colloquium</b> with <a href="http://www.sas.rochester.edu/lin/sgrimm/">Scott Grimm</a>, "Plurality and Referentiality". 3:30-5:30 in Chambers Hall (lower level), 
        <a href="https://maps.northwestern.edu/facility/65">
          600 Foster St</a>
      </td>
    </tr> 

  	<tr>
  	  <td>2.1</td>
  	  <td>Apr 3</td>
  	  <td>
          Modality
      </td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling470/fintel-heim2011.pdf#page=35" target="_blank">
          von Fintel &amp; Heim 2011 &sect;3
        </a>
      </td>
  	  <td> assignment 1 </td>
  	  <td> &nbsp;</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Apr 3 </td>
      <td colspan="4">
        <b>Linguistics colloquium</b> with <a href="http://www.ed.ac.uk/profile/patrick-sturt">Patrick Sturt</a>, "Agreement attraction in English and Korean". 3:30-5:30 in Kresge Hall, 1-515, 
        <a href="https://maps.northwestern.edu/facility/116">
          1880 Campus Drive</a>
      </td>
    </tr> 

  	<tr>
  	  <td>2.2</td>
  	  <td>Apr 5</td>
  	  <td>
          Conditionals
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/fintel-heim2011.pdf#page=55" target="_blank">
          von Fintel &amp; Heim 2011 &sect;4 
        </a>
      </td>
  	  <td>
  	  	&nbsp;
  	  </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>

   	<tr>
  	  <td>3.1</td>
  	  <td>Apr 10</td>
  	  <td>
          Tense &amp; aspect 
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/fintel-heim2011.pdf#page=75" target="_blank">
          von Fintel &amp; Heim 2011 &sect;6 </td>
        </a>
  	  <td> 
        assignment 2
      </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>

  	<tr>
  	  <td>3.2</td>
  	  <td>Apr 12</td>
  	  <td>
          Mereological semantics I
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/champollion2014a.pdf#page=9" target="_blank">
          Champollion 2014a &sect;1-2
        </a>
      </td>
  	  <td>
  	  	&nbsp;
  	  </td>
  	  <td>
        &nbsp; 
      </td>
  	</tr> 	

    <tr class="success">
      <td> &nbsp; </td>
      <td> Apr 14 </td>
      <td colspan="4">
        <b>Linguistics colloquium</b> with <a href="https://people.ucsc.edu/~schung/">Sandy Chung</a>, Title TBA. 3:30-5:30 in 3:30-5:30 in Chambers Hall (lower level), 
        <a href="https://maps.northwestern.edu/facility/65">
          600 Foster St</a>
      </td>
    </tr> 

    <tr>
  	  <td>4.1</td>
  	  <td>Apr 17</td>
  	  <td>
          Event semantics
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/champollion2014b.pdf#page=7" target="_blank">
          Champollion 2014b &sect;1
        </a>
      </td>
  	  <td> 
        assignment 3
      </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>

  	<tr>
  	  <td>4.2</td>
  	  <td>Apr 19</td>
  	  <td>
          Mereological semantics II
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/champollion2014b.pdf#page=13" target="_blank">
          Champollion 2014b &sect;2
        </a>
      </td>
  	  <td>
  	  	&nbsp;
  	  </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr> 	

  	<tr>
  	  <td>5.1</td>
  	  <td>Apr 24</td>
  	  <td>
          Relative modality
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/kratzer1991a.pdf" target="_blank">Kratzer 1991a</a> (<a href="http://alexiswellwood.org/readings/ling470/fintel-heim2011.pdf#page=65" target="_blank">von Fintel &amp; Heim 2011 &sect;5</a>)
      </td>
  	  <td> 
        assignment 4 | student presentation
      </td>
      <td>
        &nbsp;
      </td>
  	</tr>


  	<tr>
  	  <td>5.2</td>
  	  <td>Apr 26</td>
  	  <td>
          Indicative conditionals
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/stalnaker1975.pdf" target="_blank">
          Stalnaker 1975
        </a> (<a href="http://alexiswellwood.org/readings/ling470/kratzer1991b.pdf" target="_blank">Kratzer 1991b</a>)
      </td>
  	  <td>
  	  	student presentation
  	  </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr> 	

    <tr class="success">
      <td> &nbsp; </td>
      <td> Apr 27 </td>
      <td colspan="4">
        <b>CogSci panel</b> on <a href="http://www.cogsci.northwestern.edu/events/2016-2017-events/signalNoise.html">Signal and Noise in Science</a>. 4-6 in Swift 107, 
        <a href="https://maps.northwestern.edu/facility/129">
          2029 Sheridan Rd</a>
      </td>
    </tr> 

  	<tr>
  	  <td>6.1</td>
  	  <td>May 1</td>
  	  <td>
          Adverbial quantification I
      </td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling470/lewis1975.pdf" target="_blank">Lewis 1975</a> (<a href="http://alexiswellwood.org/readings/ling470/partee1991.pdf#page=2" target="_blank">Partee 1991</a>)
      </td>
  	  <td> 
        student presentation
      </td>
  	  <td> 
        &nbsp; 
      </td>
  	</tr>

  	<tr>
  	  <td>6.2</td>
  	  <td>May 3</td>
  	  <td>
          Times
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/partee1973.pdf#page=2" target="_blank">
          Partee 1973
        </a>
        (<a href="http://alexiswellwood.org/readings/ling470/partee1984.pdf" target="_blank">Partee 1984</a>)
      </td>
  	  <td>
  	  	student presentation
  	  </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr> 

    <tr class="success">
      <td> &nbsp; </td>
      <td> May 5-6 </td>
      <td colspan="4">
        <b>Philosophy &amp; Linguistics (PhLing) workshop</b> on states. Details TBA. 
      </td>
    </tr> 

  	<tr>
  	  <td>7.1</td>
  	  <td>May 8</td>
  	  <td>
          The imperfective paradox
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/dowty1977.pdf" target="_blank">
          Dowty 1977 
        </a>
        (<a href="http://alexiswellwood.org/readings/ling470/parsons1990a.pdf#page=2" target="_blank">Parsons 1990a</a>)
      </td>
  	  <td> 
        student presentation
      </td>
  	  <td> 
        &nbsp; 
      </td>
  	</tr>

  	<tr>
  	  <td>7.2</td>
  	  <td>May 10</td>
  	  <td>
          Objects and stuff
      </td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling470/link1983.pdf#page=3" target="_blank">Link 1983</a> (<a href="http://alexiswellwood.org/readings/ling470/cartwright1975.pdf#page=2" target="_blank">Cartwright 1975</a>)
      </td>
  	  <td>
  	  	student presentation
  	  </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr> 

   	<tr>
  	  <td>8.1</td>
  	  <td>May 15</td>
  	  <td>
        Events and stuff
      </td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling470/bach1986.pdf#page=2" target="_blank">Bach 1986</a> (<a href="http://alexiswellwood.org/readings/ling470/vendler1957.pdf" target="_blank">Vendler 1957</a>) 
      </td>
  	  <td> 
        student presentation
      </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td>8.2</td>
  	  <td>May 17</td>
  	  <td>
          Neodavidsonian semantics
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/parsons1990b.pdf" target="_blank">
          Parsons 1990b &sect;1-3 
        </a>
      </td>
  	  <td>
  	  	student presentation
  	  </td>
  	  <td> 
        &nbsp; 
      </td>
  	</tr> 

   	<tr>
  	  <td>9.1</td>
  	  <td>May 22</td>
  	  <td>
          Adverbial quantification II
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/ling470/rothstein1995.pdf" target="_blank">
          Rothstein 1995
        </a>
        (<a href="http://alexiswellwood.org/readings/ling470/higginbotham2000.pdf" target="_blank">Higginbotham 2000</a>)
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        &nbsp;
      </td>
  	</tr>
    
  	<tr>
  	  <td>9.2</td>
  	  <td>May 24</td>
  	  <td>
          Wrap-up
      </td>
  	  <td>
        &nbsp;
      </td>
  	  <td>
  	  	&nbsp; 
  	  </td>
  	  <td> 
        &nbsp; 
      </td>
  	</tr> 

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	May 29 
  	  </td>
      <td colspan="4">
      	<b>Memorial day [no class] </b>
      </td>
  	</tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	May 31
  	  </td>
      <td colspan="4">
      	<b>Reading week [no class]</b>
      </td>
  	</tr>

  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>Jun 7</td>
  	  <td colspan="4">
  	  	<b>Final paper</b> due in the Ling House by 5pm
  	  </td>
  	</tr> 

  </table>



