---
title: ling270-spring2016
date: 2016-3-29
author: Alexis Wellwood
layout: layout
---

<h1 class="lowercase pageheader">ling270: meaning - spring 2016 schedule </h1>


<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">using this page</h3>
     </div>
      <div class="panel-body">
        Click <b>topic</b> to see the slideshow for that day (you will need the username and password). Hit <b>p</b> when you're in the slideshow to see the presenter notes. 
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">have a question?</h3>
      </div>
      <div class="panel-body">
        First see if the answer is in on this page, or in <a href="ling270/270-spring2016-syllabus.pdf" target="_blank">the syllabus</a>. If you can't find the answer, email your TA, <a href="mailto:tdenby@u.northwestern.edu">Tommy Denby</a>, or your instructor, <a href="mailto:wellwood@northwestern.edu">Alexis Wellwood</a>.
      </div>
    </div>
  </div>

  <div class="col-md-3"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">experiment req?</h3>
      </div>
      <div class="panel-body">
        Sign in to <a href="https://northwestern-linguistics.sona-systems.com">SONA</a> to browse available studies. Email the administrator, <a href="mailto:northwestern-linguistics-admin@sona-systems.net">Daniel Tucker</a> if you can't find your login info. Check <a href="ling270/sona_students.pdf">here</a> for info about the requirement.
      </div>
    </div>
  </div>

  <div class="col-md-3"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">document upgrade?</h3>
      </div>
      <div class="panel-body">
        Use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your docs—great for trees and logical formulae. This <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document</a> can help you get started, and so can <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide</a>, too.
      </div> 
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        Days shaded <span style="background:#dff0d8;">green</span> indicate  optional linguistics- and cognitive science-related events. <span style="background:pink;">red</span> shading indicates a day you <b>don't</b> want to miss!
      </div>
    </div>
  </div>
</div>


  <!-- table -->
  <table class="table">

<!-- <tr class="success"> for green row -->
<!-- <tr class="warning"> for red row -->

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>tasks</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td> 1</td>
  	  <td> Mar 31</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/1-0-introduction.html" target="_blank">The meaning of 'meaning'</a></td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>
  	<tr>
  	  <td> 2.1</td>
  	  <td> Apr 5</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/2-1-meaning-not-definition.html" target="_blank">Meanings &#8800; definitions</a></td> 
  	  <td> <a href="http://alexiswellwood.org/readings/ling270/elbourne_1-15.pdf" target="_blank">Elbourne &sect;1, &sect;2 [14-15]</a></td>
      <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw1.pdf" target="_blank">HW1 assigned </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td> 2.2</td>
  	  <td> Apr 7</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/2-2-two-theories.html" target="_blank">Two theories</a></td>
  	  <td> Elbourne &sect;2 [15-32]<br>
            <a href="http://alexiswellwood.org/readings/ling270/partee-1995.pdf" target="_blank">Partee 1995</a> [311-315]<br>
            <b>Set theory reference</b>: <a href="http://alexiswellwood.org/readings/ling270/partee-et-al-1990.pdf" target="_blank">Partee et al 1990</a> [3-28]</td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Apr 8 </td>
      <td colspan="4">
        <b> <a href="http://planitpurple.northwestern.edu/event/488001" target="_blank">Linguistics colloquium</a></b> with Dr Brian Dillon (UMass). <b>3:30pm in <a href="http://maps.northwestern.edu/facility/65" target="_blank">Chambers Hall</a>.</b>
      </td>
    </tr>

  	<tr>
  	  <td> 3.1</td>
  	  <td> Apr 12</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/3-1-aspects-words.html" target="_blank">Aspects of word meaning</a></td>
  	  <td> Elbourne &sect;3 </td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw2.pdf" target="_blank">HW2 assigned</a> </td>
      <td> HW1 due </td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Apr 12 </td>
      <td colspan="4">
        <b><a href="http://planitpurple.northwestern.edu/event/490800" target="_blank">Cognitive Science Dialogue</a></b> with Dr Nancy Kanwisher (MIT) &amp; Dr Brian Scholl (Yale). <b>4pm in <a href="https://maps.northwestern.edu/facility/129" target="_blank">107 Swift Hall</a>.</b>
      </td>
    </tr>

   	<tr>
  	  <td> 3.2</td>
  	  <td> Apr 14</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/3-2-meaning-truth.html" target="_blank">Meaning &amp; truth</a></td>
  	  <td> Elbourne &sect;4 [43-55]<br>
          <a href="http://alexiswellwood.org/readings/ling270/partee-1995.pdf" target="_blank">Partee 1995</a> [315-330]<br>
          <a href="http://alexiswellwood.org/readings/ling270/syrett-et-al-2009.pdf" target="_blank">Syrett et al 2009</a> &sect;2</td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td> 4.1</td>
  	  <td> Apr 19</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/4-1-npis.html" target="_blank">Negative polarity items</a></td>
  	  <td> Elbourne &sect;4 [55-64] </td>
      <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw3.pdf" target="_blank">HW3 assigned</a> </td>
  	  <td> HW2 due<br />HW1 returned (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw1_commentary.pdf" target="_blank">commentary</a>) </td>
  	</tr> 	

    <tr>
  	  <td> 4.2</td>
  	  <td> Apr 21</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/4-2-inferential-meaning.html" target="_blank">Aspects of inferential meaning</a></td>
  	  <td> Elbourne &sect;5 [65-72] </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>
  	<tr>
  	  <td> 5.1</td>
  	  <td> Apr 26</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/5-1-structural-ambiguity.html" target="_blank">Structural ambiguity</a></td>
  	  <td> Elbourne &sect;5 [72-98]</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw4.pdf" target="_blank">HW4 assigned</a></td>
      <td> HW3 due<br />HW2 returned (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw2_commentary.pdf" target="_blank">commentary</a>)  </td>
  	</tr> 	

  	<tr>
  	  <td> 5.2</td>
  	  <td> Apr 28</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/5-2-composition1.html" target="_blank">Composition with &lambda;s I</a></td>
  	  <td> Elbourne &sect;6<br>
        Heim &amp; Kratzer 1998 <a href="http://alexiswellwood.org/readings/ling270/heim-kratzer-1998-ch1.pdf" target="_blank">&sect;1</a> [1-5, 10-11], <a href="http://alexiswellwood.org/readings/ling270/heim-kratzer-1998-ch2.pdf" target="_blank">&sect;2</a> [13-20] </td>
  	  <td> &nbsp; </td>
      <td> &nbsp; </td>
  	</tr>

<!-- WCCFL APR29-MAY1 -->

  	<tr>
  	  <td> 6.1</td>
  	  <td> May 3</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/6-1-composition2.html" target="_blank">Composition with &lambda;s II</a></td>
  	  <td> &nbsp; </td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw5.pdf" target="_blank">HW5 assigned</a></td>
      <td> HW4 due<br />HW3 returned (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw3_commentary.pdf" target="_blank">commentary</a>) </td>
  	</tr> 	


  	<tr>
  	  <td> 6.2</td>
  	  <td> May 5</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/6-2-variables.html" target="_blank">Variables</a></td>
  	  <td> Elbourne &sect;7 [111-121]<br>
        Heim &amp; Kratzer 1998 <a href="http://alexiswellwood.org/readings/ling270/heim-kratzer-1998-ch9.pdf" target="_blank">&sect;9</a> [240-243]</td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> May 6</td>
      <td colspan="4">
        <b> <a href="http://planitpurple.northwestern.edu/event/488001" target="_blank">Linguistics colloquium</a></b> with Dr. Gina Kuperberg (Tufts). <b>3:30pm in <a href="https://maps.northwestern.edu/facility/193" target="_blank">TGS Commons</a>.</b>
      </td>
    </tr>

  	<tr>
  	  <td> 7.1</td>
  	  <td> May 10</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/7-1-implicit-content.html" target="_blank">Review / Implicit content</a></td>
  	  <td> Elbourne &sect;7 [121-131]</td>
  	  <td> &nbsp; </td>
      <td> HW5 due<br />HW4 returned (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw4_commentary.pdf" target="_blank">commentary</a>) </td>
  	</tr> 



  	<tr>
  	  <td> 7.2</td>
  	  <td> May 12</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/7-2-implicature1.html" target="_blank">Implicature I</a></td>
  	  <td> Elbourne &sect;7 [131-139]<br>
        <a href="http://alexiswellwood.org/readings/ling270/grice-1975.pdf" target="_blank">Grice 1975</a> [305-310]</td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

    <!-- SALT MAY12-15 -->


  	<tr>
  	  <td> 8.1</td>
  	  <td> May 17</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/8-1-implicature2.html" target="_blank">Implicature II</a></td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270/bale-2014-ch3.pdf" target="_blank">Bale 2014</a> &sect;3 [1-10] </td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw6.pdf" target="_blank">HW6 assigned</a> </td>
  	  <td> HW5 returned (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw5_commentary.pdf" target="_blank">commentary</a>) </td>
  	</tr> 

   	<tr >
  	  <td> 8.2</td>
  	  <td> May 19</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/8-2-all-together.html" target="_blank">Putting it all together</a></td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270/bale-2014-ch3.pdf" target="_blank">Bale 2014</a> &sect;3 [10-18] </td> </td>
  	  <td> &nbsp; </td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270/diagnostics-worksheet.pdf" target="_blank">diagnostic worksheet</a><br /> (for use with slides)</td>
  	</tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> May 20</td>
      <td colspan="4">
        <b> <a href="http://planitpurple.northwestern.edu/event/488003" target="_blank">Linguistics colloquium</a></b> with Dr. Jennifer Arnold (UNC-Chapel Hill). <b>3:30pm in <a href="https://maps.northwestern.edu/facility/193" target="_blank">TGS Commons</a>.</b>
      </td>
    </tr>

  	<tr>
  	  <td> 9.1</td>
  	  <td> May 24</td>
  	  <td> In-class activity (<a href="http://alexiswellwood.org/readings/ling270_slides/9-1-debate-HO.pdf" target="_blank">handout</a>) </td>
  	  <td> &nbsp;  </td>
  	  <td> Take home exam assigned </td>
  	  <td> HW6 due <br /> (see <a href="http://alexiswellwood.org/readings/ling270_homeworks/hw6_commentary.pdf" target="_blank">commentary</a>)</td>
  	</tr> 



   	<tr>
  	  <td> 9.2</td>
  	  <td> May 26</td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling270_slides/9-2-wrap-up.html" target="_blank">Review &amp; wrap-up</a></td>
  	  <td> Elbourne &sect;8<br>
        <a href="http://alexiswellwood.org/readings/ling270/fintel-matthewson-2008.pdf" target="_blank">von Fintel &amp; Matthewson 2008</a> </td>
  	  <td> &nbsp; </td>
  	  <td> &nbsp; </td>
  	</tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	May 30-<br />
        Jun 3
  	  </td>
      <td colspan="4">
      	<b>Reading week: no class</b>
      </td>
  	</tr>

  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>Jun 6</td>
  	  <td colspan="4">Take-home exam handed in by 5pm.</td>
  	</tr> 

  </table>



