---
title: ling300-fall2016
date: 2016-09-17
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">ling300: experimental semantics - fall 2016 schedule </h1>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">using this page</h3>
     </div>
      <div class="panel-body">
        Click a heading under <b>topic</b> to see the slideshow for that day (you will need the username and password). Hit <b>p</b> when in the slideshow to see the presenter notes. 
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">sample abstracts?</h3>
      </div>
      <div class="panel-body">
        Go to <a href="http://alexiswellwood.org/readings/ling300/abstract-exs/" target="_blank">this folder</a> to have a browse of sample abstract-paper pairs. As always, you will need the same username and password I gave you in class. 
      </div>
    </div>
  </div>

  <div class="col-md-3"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">collaborative documents?</h3>
      </div>
      <div class="panel-body">
        If you're a Word person, use <a href="http://docs.google.com" target="_blank">Google Docs</a> to write your collaborative documents (project abstract, presentation, proposal). If you use LaTeX, use <a href="http://overleaf.com" target="_blank">Overleaf</a>!
      </div>
    </div>
  </div>

  <div class="col-md-3"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">document upgrade?</h3>
      </div>
      <div class="panel-body">
        Use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your docs—great for trees and logical formulae. This <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document</a> can help you get started, and so can <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide</a>, too.
      </div> 
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        Days shaded <span style="background:#dff0d8;">green</span> indicate  optional linguistics- and cognitive science-related events. <span style="background:pink;">red</span> shading indicates a day you <b>don't</b> want to miss!
      </div>
    </div>
  </div>
</div>



  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1</td>
  	  <td>Sept 20</td>
  	  <td>
        <a href="http://alexiswellwood.org/readings/ling300/slides/1-1-introduction.html" target="_blank">
          What 'science'?
        </a>
      </td>
  	  <td> <a href="http://alexiswellwood.org/readings/ling300/chomsky2014.pdf" target="_blank">Chomsky 2014</a>; <a href="http://alexiswellwood.org/readings/ling300/miller2003.pdf" target="_blank">Miller 2003</a>; <a href="http://alexiswellwood.org/readings/ling300/jackendoff1991.pdf" target="_blank">Jackendoff 1991</a></td>
  	  <td> &nbsp;</td>
  	  <td> &nbsp;</td>
  	</tr>

    <tr>
      <td> &nbsp; </td>
      <td>Sept 22</td>
      <td>
        <a href="http://alexiswellwood.org/readings/ling300/slides/1-2-two-views.html" target="_blank">
          (Basically) two views
        </a>
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/partee1995.pdf" target="_blank">Partee 1995</a>; <a href="http://alexiswellwood.org/readings/ling300/glanzberg2013.pdf" target="_blank">Glanzberg 2013</a></td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Sept 27</td>
      <td>
        <a href="http://alexiswellwood.org/readings/ling300/slides/2-1-presupposition.html" target="_blank">
          Presupposition
        </a>
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/schwarz2014.pdf" target="_blank">Schwarz 2014</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td> &nbsp; </td>
      <td>Sept 29</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          &nbsp;
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/schwarz2015.pdf" target="_blank">Schwarz 2015 </a></td>
      <td> Write-up 1 </td>
      <td> &nbsp;</td>
    </tr>


    <tr class="success">
      <td> &nbsp; </td>
      <td> Sept 30 </td>
      <td colspan="4">
        <b>Linguistics 50th anniversary event</b>. <a href="http://www.bcs.rochester.edu/people../mtan/mtan.html">Mike Tanenhaus</a> from BCS Rochester, ``The future of language science''. <b>2:30-6pm in the Louis Room, 
        <a href="https://maps.northwestern.edu/facility/110">
          Norris University Center</a>.
        </b>
      </td>
    </tr>

    <tr>
      <td>3</td>
      <td>Oct 4</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Plurality/number
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/nouwen2015.pdf" target="_blank">Nouwen 2015</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td> &nbsp; </td>
      <td>Oct 6</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          &nbsp;
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/pearson-khan-snedeker2010.pdf" target="_blank">Pearson, Khan, &amp; Snedeker 2010 </a></td>
      <td> Write-up 2 </td>
      <td> &nbsp;</td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 6 </td>
      <td colspan="4">
        <b>One Book One Northwestern Keynote</b> with <a href="http://fivethirtyeight.com/contributors/nate-silver/">Nate Silver</a> from fivethirtyeight. Free, but need a ticket, see 
        <a href="http://planitpurple.northwestern.edu/event/502116">
          here
        </a> for details.
        </b>
      </td>
    </tr>

    <tr>
      <td>4 </td>
      <td>Oct 11</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Mass/count
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/gillon2012.pdf" target="_blank">Gillon 2012</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>&nbsp; </td>
      <td>Oct 13</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          &nbsp;
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/barner-snedeker2005.pdf" target="_blank">Barner &amp; Snedeker 2005</a> </td>
      <td> Write-up 3 </td>
      <td> &nbsp;</td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 14 </td>
      <td colspan="4">
        <b>PhLing</b> with <a href="https://liberalarts.utexas.edu/linguistics/faculty/dib97">David Beaver</a>, from UT-Austin. <b>1:30-3:30pm, in
        <a href="https://maps.northwestern.edu/facility/116" target="_blank">
          Kresge 3-348</a>.
        </b>
      </td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 14 </td>
      <td colspan="4">
        <b>Linguistics mixer</b>, all welcome. <b>4-6pm,
        <a href="https://maps.northwestern.edu/facility/277" target="_blank">The Great Room, 600 Haven St</a>.
        </b>
      </td>
    </tr>

    <tr>
      <td>5 </td>
      <td>Oct 18</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Comparatives I
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/bale2008.pdf" target="_blank">Bale 2008</a>; <a href="http://alexiswellwood.org/readings/ling300/solt-gotzner2012.pdf" target="_blank">Solt &amp; Gotzner 2012</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>&amp; </td>
      <td>Oct 20</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Comparatives II 
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/marr1982ch1.pdf" target="_blank">Marr 1982 &sect;1</a>; <a href="http://alexiswellwood.org/readings/ling300/odic-halberda2015.pdf" target="_blank">Odic &amp; Halberda 2015</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Oct 22 </td>
      <td colspan="4">
        <b>Semantics and Syntax Workshop of the American Midwest and Prairies (SSWAMP)</b>. See the <a href="http://sites.northwestern.edu/sswamp2016/">conference website</a>. <b>All day, 
        <a href="https://maps.northwestern.edu/facility/182" target="_blank">Parkes Hall, 122</a>.
        </b>
      </td>
    </tr>

    <tr>
      <td>6 </td>
      <td>Oct 25</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Telicity 
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/bach1986.pdf" target="_blank">Bach 1986</a>; Wellwood, Hespos, &amp; Rips 2016</td>
      <td> Group &amp; topic identification </td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>&nbsp; </td>
      <td>Oct 27</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          &nbsp;
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/wittenberg-levy2015.pdf" target="_blank">Wittenberg &amp; Levy 2015</a> </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>7 </td>
      <td>Nov 1</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Determiners
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/hunter-lidz-wellwood-conroy2009.pdf" target="_blank">Hunter, Lidz, Wellwood, &amp; Conroy 2009 </a></td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>&nbsp; </td>
      <td>Nov 3</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          &nbsp;
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/lidz-pietroski-halberda-hunter2011.pdf" target="_blank">Lidz, Pietroski, Halberda, &amp; Hunter 2011</a></td>
      <td> Project abstract </td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>8</td>
      <td>Nov 8</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Negation
<!--         </a> -->
      </td>
      <td> <a href="http://alexiswellwood.org/readings/ling300/buring2007.pdf" target="_blank">B&uuml;ring 2007</a>; <a href="http://alexiswellwood.org/readings/ling300/clark-chase1972.pdf" target="_blank">Clark &amp; Chase 1972 </a></td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td> &nbsp; </td>
      <td>Nov 10</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
           &nbsp;
<!--         </a> -->
      </td>
      <td> Tucker, Tomaszewicz, &amp; Wellwood 2016 </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td>9</td>
      <td>Nov 15</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Student presentations
<!--         </a> -->
      </td>
      <td> &nbsp; </td>
      <td> Class conference presentation </td>
      <td> &nbsp;</td>
    </tr>

    <tr>
      <td> &nbsp; </td>
      <td>Nov 17</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Student presentations
<!--         </a> -->
      </td>
      <td> &nbsp; </td>
      <td> Class conference presentation</td>
      <td> &nbsp;</td>
    </tr>

    <tr class="success">
      <td> &nbsp; </td>
      <td> Nov 18 </td>
      <td colspan="4">
        <b>PhLing</b> with Alexis Wellwood. <b>2-4pm, <a href="https://maps.northwestern.edu/facility/116" target="_blank">
          Kresge 3-348</a>.
        </b>
      </td>
    </tr>

    <tr>
      <td>10</td>
      <td>Nov 22</td>
      <td>
<!--         <a href="http://alexiswellwood.org/readings/handouts/370-1-1-introduction.pdf" target="_blank"> -->
          Wrap-up
<!--         </a> -->
      </td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
      <td> &nbsp;</td>
    </tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 24
  	  </td>
      <td colspan="4">
      	<b>Thanksgiving break [no class]</b>
      </td>
  	</tr>

  	<tr>
  	  <td> &nbsp; </td>
  	  <td>
  	  	Nov 28-<br />
        Dec 2
  	  </td>
      <td colspan="4">
      	<b>Reading week [no class]</b>
      </td>
  	</tr>

  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>Dec 9</td>
  	  <td colspan="4">
  	  	<b>Collaborative research proposal</b> due by 5pm in the Linguistics Department
  	  </td>
  	</tr> 

  </table>



