---
title: phil599-fall2018
date: 2018-08-23
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">phil599: ontology &amp; logical form (fall 2018)</h1>

  The readings for each week will be announced by email, and all can be downloaded from the Google Drive folder shared with the class. 

  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>due</b></td>
      <td><b>discussion lead &amp; notes</b></td>
  	</tr>

  	<tr>
  	  <td>Aug 22</td>
  	  <td>
        Opening / 
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil599/599-01-intro-AW.pdf" target="_blank">
          ``Talk <i>as if</i>'' 
        </a>
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        Alexis <br />
        <a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil599/599-syllabus.pdf" target="_blank">syllabus</a> out
      </td>
  	</tr>

    <tr>
      <td>Aug 29</td>
      <td>
        Mass and count 
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Barry 
      </td>
    </tr>

    <tr>
      <td>Sep 5</td>
      <td>
        Mass and count 
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Barry 
      </td>
    </tr>

    <tr>
      <td>Sep 12</td>
      <td>
        Object/substance, event/process
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        Alexis 
      </td>
    </tr>

    <tr>
      <td>Sep 19</td>
      <td>
        Object/substance, event/process
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        Alexis 
      </td>
    </tr>

    <tr class="warning">
      <td>Sep 26</td>
      <td>
        Events 
      </td>
      <td> 
        <b>Project proposal</b><br /> (email to Alexis &amp; Barry)
      </td>
      <td> 
        Barry 
      </td>
    </tr>


    <tr>
      <td>Oct 3</td>
      <td>
        States and other categories 
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        Alexis 
      </td>
    </tr>


    <tr>
      <td>Oct 10</td>
      <td>
        Plurals &amp; Pluralities
      </td>
      <td> 
        &nbsp; 
      </td>
      <td> 
        Barry 
      </td>
    </tr>

    <tr>
      <td>Oct 17</td>
      <td>
        Plurals &amp; Pluralities 
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Barry 
      </td>
    </tr>


    <tr>
      <td>Oct 24</td>
      <td>
        Measurement  
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Alexis 
      </td>
    </tr>

    <tr class="warning">
      <td>Oct 31</td>
      <td>
        TBA 
      </td>
      <td> 
        <b>Presentations</b>
      </td>
      <td> 
        student / student / student 
      </td>
    </tr>

    <tr>
      <td>Nov 7 </td>
      <td>
        The Problem of the Many
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <a href="http://www.davidliebesman.net" target="_blank">D. Liebesman</a> 
      </td>
    </tr>

    <tr class="warning">
      <td>Nov 14</td>
      <td>
        TBA
      </td>
      <td> 
        <b>Presentations</b>
      </td>
      <td> 
        student / student / student 
      </td>
    </tr>

    <tr class="danger">
      <td>
        Nov 21
      </td>
      <td colspan="4">
        <i>No class - USC closed for Thanksgiving</i>
      </td>
    </tr>

    <tr>
      <td>Nov 28</td>
      <td>
        <!-- Closing -->
        Measurement events / closing
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Barry / Alexis
      </td>
    </tr>


  	<tr class="warning">
  	  <td><b>Dec 7</b></td>
  	  <td colspan="3">
  	  	<b>Final paper</b> due (email to Alexis &amp; Barry before midnight)
  	  </td>
  	</tr> 

  </table>



