---
title: phil501-spring2018
date: 2017-12-27
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">phil501: grading modality (spring 2018)</h1>

<!-- <p>Note: Days shaded in <span style="background:#99ff99;">green</span> indicate days on which there are events outside of class that you might be interested in.</p> -->

<p>You should use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your work. It has some up front cost but it pays off long term. I created these <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document and bibliography files</a> that can help you get started making your own; you can also consult <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide</a>. 


  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1</td>
  	  <td>Jan 10</td>
  	  <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Introduction
          <!-- </a> -->
      </td>
  	  <td> 
          (<a href="http://alexiswellwood/readings/phil501/w2014diss">Wellwood 2014</a>, ch.1; Lassiter m.s.)
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        syllabus out
      </td>
  	</tr>

    <tr>
      <td>2</td>
      <td>Jan 17</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Degree semantics
          <!-- </a> -->
      </td>
      <td> 
        Cresswell 1976, Schwarzschild 2008
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <td>3</td>
      <td>Jan 24</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Scale structure
          <!-- </a> -->
      </td>
      <td> 
        Kennedy &amp; McNally 2005
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <td>4</td>
      <td>Jan 31</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Modality
          <!-- </a> -->
      </td>
      <td> 
        Kratzer 1981, 1991
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>5</td>
      <td>Feb 7</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Event semantics
          <!-- </a> -->
      </td>
      <td> 
        Davidson 1967, Parsons 1990
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>6</td>
      <td>Feb 14</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Event-relative modality
          <!-- </a> -->
      </td>
      <td> 
        Hacquard 2010
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>7</td>
      <td>Feb 21</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Non-canonical comparatives
          <!-- </a> -->
      </td>
      <td> 
        Wellwood 2015 (Bach 1986)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>8</td>
      <td>Feb 28</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Attitude verbs I
          <!-- </a> -->
      </td>
      <td> 
        Villalta 2008
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>9</td>
      <td>Mar 7</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Deontic modals
          <!-- </a> -->
      </td>
      <td> 
        Portner &amp; Rubinstein 2016
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr class="danger">
      <td> &nbsp; </td>
      <td>
       May 14
      </td>
      <td colspan="4">
        <b>USC recess (no class)</b>
      </td>
    </tr>

    <tr>
      <td>10</td>
      <td>Mar 21</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Probabilistic discourse
          <!-- </a> -->
      </td>
      <td> 
        TBA (Yalcin; Holliday &amp; Icard)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <a href="http://cariani.org" target="_blank">F. Cariani</a> visits
      </td>
    </tr>

    <tr>
      <td>11</td>
      <td>Mar 28</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Attitude verbs II
          <!-- </a> -->
      </td>
      <td> 
        Lassiter 2011 (Levinson 2003)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Pacific APA this week
      </td>
    </tr>

    <tr>
      <td>12</td>
      <td>Apr 6</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Confidence reports
          <!-- </a> -->
      </td>
      <td> 
        Cariani et al (in prep)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <b>Class meets on Friday</b>
      </td>
    </tr>


    <tr>
      <td>13</td>
      <td>Apr 11</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Conditionals
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <a href="http://paolosantorio.net/" target="_blank">P. Santorio</a> visits
      </td>
    </tr>

    <tr>
      <td>14</td>
      <td>Apr 18</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            TBA
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


    <tr>
      <td>15</td>
      <td>Apr 25</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Recap
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>May 9</td>
  	  <td colspan="4">
  	  	<b>Final paper</b> due (email to Alexis by midnight)
  	  </td>
  	</tr> 

  </table>



