---
title: phil246-spring2019
date: 2019-01-10
author: Alexis Wellwood
layout: layout
---

<h1 class="lowercase pageheader">phil246: foundations of cognitive science (spring 2019)</h1>

  The bulk of the class is on Blackboard, just the slides are posted here. Clicking the topic label will take you to the slides; you will need the username and password I gave you in class. 

  As a reminder, pressing the letter <b>p</b> on your keyboard reveals the "presenter notes"; pressing <b>p</b> again will hide those notes.

  You can also <a href="https://bcf.usc.edu/~wellwood/downloadables/phil246-spring2019.pdf" target="_blank">view the syllabus</a>. 

<br />
<br />

  <!-- table -->
  <table class="table">

    <tr>
      <td><b>module</b></td>
      <td><b>topic</b></td>
      <td><b>dates</b></td>
    </tr>

    <tr>
      <td>1</td>
      <td><a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil246/1-introduction.html" target="_blank">Introduction, nature, &amp; nurture</a></td>
      <td>Jan 7-16
    </tr>

    <tr>
      <td>2</td>
      <td><a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil246/2-RTM.html" target="_blank">The computational theory of mind</a></td>
      <td>Jan 23-30</td>
    </tr>

    <tr>
      <td>3</td>
      <td><i><a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil246/3-vision.html" target="_blank">Brief: Vision</a></i></td>
      <td>Feb 4</td>
    </tr>

    <tr>
      <td>4</td>
      <td><a href="https://bcf.usc.edu/~wellwood/downloadables/readings/phil246/4-concepts.html" target="_blank">Concepts &amp; their acquisition</a></td>
      <td>Feb 11-20</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Language &amp; its acquisition</td>
      <td>Feb 25-Mar 6</td>
    </tr>

    <tr>
      <td>6</td>
      <td><i>Brief: Reasoning &amp; heuristics</i></td>
      <td>Mar 18</td>
    </tr>

    <tr>
      <td>7</td>
      <td>The conscious, social, moral, essentialist</td>
      <td>Mar 25-Apr 3</td>
    </tr>

    <tr>
      <td>8</td>
      <td>Minds &amp; brains</td>
      <td>Apr 8-15</td>
    </tr>

    <tr>
      <td>9</td>
      <td><i>Brief: Artificial intelligence</i></td>
      <td>Apr 17</td>
    </tr>

  </table>