---
title: phil501-spring2018
date: 2017-12-27
author: Alexis Wellwood
layout: layout-class
---

<h1 class="lowercase pageheader">phil501: grading modality (spring 2018)</h1>

<!-- <p>Note: Days shaded in <span style="background:#99ff99;">green</span> indicate days on which there are events outside of class that you might be interested in.</p> -->

<p>You should use <a href="https://latex-project.org/ftp.html" target="_blank">LaTeX</a> to typeset your work. It has some up front cost but it pays off long term. I created these <a href="http://alexiswellwood.org/texsample/" target="_blank">sample document and bibliography files</a> that can help you get started making your own; you can also consult <a href="http://www.ling.upenn.edu/advice/latex.html" target="_blank">this guide</a>. 


  <!-- table -->
  <table class="table">

  	<tr>
      <td><b>week</b></td>
      <td><b>date</b></td>
      <td><b>topic</b></td>
      <td><b>reading</b></td>
      <td><b>due</b></td>
      <td><b>notes</b></td>
  	</tr>

  	<tr>
  	  <td>1</td>
  	  <td>Jan 10</td>
  	  <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Introduction
          <!-- </a> -->
      </td>
  	  <td> 
          (<a href="http://alexiswellwood.org/readings/phil501/w2014diss.pdf" target="_blank">Wellwood 2014, ch.1</a>; <a href="http://alexiswellwood.org/readings/phil501/lassiter-m.s.pdf" target="_blank">Lassiter m.s.</a>)
      </td>
  	  <td> 
        &nbsp;
      </td>
  	  <td> 
        <a href="http://alexiswellwood.org/readings/phil501/501-syllabus-sp2018.pdf" target="_blank">syllabus</a> out
      </td>
  	</tr>

    <tr>
      <td>2</td>
      <td>Jan 17</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Degree semantics
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/cresswell1976.pdf" target="_blank">Cresswell 1976</a>, <a href="http://alexiswellwood.org/readings/phil501/klein1980.pdf" target="_blank">Klein 1980</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <td>3</td>
      <td>Jan 24</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Scale structure
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/kennedy&mcnally2005.pdf" target="_blank">Kennedy &amp; McNally 2005</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>

    <tr>
      <td>4</td>
      <td>Jan 31</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Modality
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/kratzer1981.pdf" target="_blank">Kratzer 1981</a>, <a href="http://alexiswellwood.org/readings/phil501/kratzer1991.pdf" target="_blank">1991</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>5</td>
      <td>Feb 7</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Event semantics
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/davidson1967.pdf" target="_blank">Davidson 1967</a>, <a href="http://alexiswellwood.org/readings/phil501/parsons1990chs1-2.pdf" target="_blank">Parsons 1990 chs.1-2</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>6</td>
      <td>Feb 14</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Event-relative modality
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/hacquard2010.pdf" target="_blank">Hacquard 2010</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>7</td>
      <td>Feb 21</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Non-canonical comparatives
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/wellwood2015.pdf" target="_blank">Wellwood 2015</a> (<a href="http://alexiswellwood.org/readings/phil501/bach1986.pdf" target="_blank">Bach 1986</a>)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>8</td>
      <td>Feb 28</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Attitude verbs I
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/villalta2008.pdf" target="_blank">Villalta 2008</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr>
      <td>9</td>
      <td>Mar 7</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Deontic modals
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/portner&rubinstein2016.pdf" target="_blank">Portner &amp; Rubinstein 2016</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp; 
      </td>
    </tr>


    <tr class="danger">
      <td> &nbsp; </td>
      <td>
       May 14
      </td>
      <td colspan="4">
        <b>USC recess (no class)</b>
      </td>
    </tr>

    <tr>
      <td>10</td>
      <td>Mar 21</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Probabilistic discourse
          <!-- </a> -->
      </td>
      <td> 
        TBA (Yalcin; Holliday &amp; Icard)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <a href="http://cariani.org" target="_blank">F. Cariani</a> visits
      </td>
    </tr>

    <tr>
      <td>11</td>
      <td>Mar 28</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Attitude verbs II
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/lassiter2011.pdf" target="_blank">Lassiter 2011</a> (<a href="http://alexiswellwood.org/readings/phil501/levinson2003.pdf" target="_blank">Levinson 2003</a>)
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        Pacific APA this week
      </td>
    </tr>

    <tr class="danger">
      <td>12</td>
      <td>Apr 6</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Confidence reports
          <!-- </a> -->
      </td>
      <td> 
        <a href="http://alexiswellwood.org/readings/phil501/cariani&santorio&wellwood2017.pdf" target="_blank">Cariani, Santorio, Wellwood m.s.</a>
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <b>Class meets on Friday</b>
      </td>
    </tr>


    <tr>
      <td>13</td>
      <td>Apr 11</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Conditionals
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        <a href="http://paolosantorio.net/" target="_blank">P. Santorio</a> visits
      </td>
    </tr>

    <tr>
      <td>14</td>
      <td>Apr 18</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            TBA
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


    <tr>
      <td>15</td>
      <td>Apr 25</td>
      <td>
          <!-- <a href="http://alexiswellwood.org/readings/ling470/handouts/470_1.1_intro.pdf" target="_blank"> -->
            Recap
          <!-- </a> -->
      </td>
      <td> 
        TBA
      </td>
      <td> 
        &nbsp;
      </td>
      <td> 
        &nbsp;
      </td>
    </tr>


  	<tr class="danger">
  	  <td><b>end</b></td>
  	  <td>May 9</td>
  	  <td colspan="4">
  	  	<b>Final paper</b> due (email to Alexis by midnight)
  	  </td>
  	</tr> 

  </table>



